.footer {
  .container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
  }
}

.footer__block {
  width: 400px;
  position: relative;

  &:nth-child(1) {
    margin-left: 28px;
    width: 430px;

    &::after {
      right: -40px;
    }
  }

  &:nth-child(2) {
    &::after {
      right: 26px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    height: 189px;
    width: 1px;
    background-color: $grey;
    top: 19px;
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}

.footer__list-wrapper {
  display: flex;
}

.footer__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: $dark;
}

.footer__next-link {
  font-size: 14px;
  line-height: 17px;
  color: $dark;
  opacity: 0.5;
}

.footer__next {
  .footer__title {
    margin-bottom: 15px;
  }
}

.footer__next-list {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.footer__contact {
  padding-left: 130px;
}

.footer__email {
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: $accent-basic;
  margin-left: 42px;
  display: inline-block;
  margin-bottom: 18px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 26px;
    height: 20px;
    background: url("../img/footer-email.svg") no-repeat center center;
    top: -4px;
    left: -41px;
  }

  &:nth-of-type(2) {
    display: none;
  }
}

.footer__phone-link {
  line-height: 32px;
  text-decoration-line: underline;
  color: $accent-basic;
  margin-left: 40px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background: url("../img/footer-phone.svg") no-repeat center center;
    top: -4px;
    left: -41px;
  }
}

.footer__corporate {
  margin-left: 23px;

  .footer__title {
    margin-bottom: 20px;
  }
}

.footer__corporate-text {
  font-size: 14px;
  line-height: 24px;
  color: $dark;
  opacity: 0.5;
  letter-spacing: -0.01em;
}

@media (min-width: $desktop-width) and (max-width: $desctop-content-width - 1px) {
  .footer__block {
    width: 350px;

    &:nth-child(1) {
      width: 400px;

      &::after {
        right: 0;
      }
    }
  }

  .footer__next-list {
    margin-right: 20px;
  }

  .footer__contact {
    width: 330px;
    padding-left: 30px;
  }

  .footer__corporate {
    margin-left: 13px;
  }
}

@media (max-width: $desktop-width - 1px) {
  .footer {
    .container {
      flex-wrap: wrap;
      padding-bottom: 38px;
    }
  }

  .footer__block {
    &:nth-child(1) {
      width: 400px;
      margin-left: 0;

      &::after {
        height: 179px;
        top: 18px;
        right: 5px;
      }
    }
  }

  .footer__next-list {
    margin-right: 47px;
  }

  .footer__contact {
    width: 250px;
    padding-left: 0;
    left: -30px;

    &::after {
      height: 1px;
      width: 726px;
      top: auto;
      right: auto;
      bottom: -20px;
      left: -445px;
    }

    .footer__title {
      margin-bottom: 24px;
    }
  }

  .footer__email {
    &:nth-of-type(1) {
      display: none;
    }

    &:nth-of-type(2) {
      display: block;
    }
  }

  .footer__corporate {
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;

    .footer__title {
      margin-bottom: 5px;
    }
  }

  .footer__corporate-text {
    text-align: center;
  }
}

@media (max-width: $table-width - 1px) {
  .footer {
    position: relative;
    top: -41px;

    .container {
      padding-bottom: 0;
    }
  }

  .footer__block {
    &:nth-child(1) {
      width: 100%;

      &::after {
        height: 1px;
        width: 100%;
        top: auto;
        right: 5px;
        bottom: -15px;
      }
    }
  }

  .footer__title {
    width: 100%;
    text-align: center;
  }

  .footer__list-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .footer__next {
    .footer__title {
      position: relative;
      left: -5px;
    }
  }

  .footer__next-list {
    text-align: center;
    margin-right: 0;

    &:nth-child(1) {
      grid-column: 1/2;
      grid-row: 1/2;
      position: relative;
      left: -10px;
    }

    &:nth-child(2) {
      grid-column: 2/3;
      grid-row: 1/2;
    }

    &:nth-child(3) {
      grid-column: 1/-1;
      grid-row: 2/3;
      position: relative;
      top: 5px;
      left: -5px;
    }
  }

  .footer__contact {
    width: 100%;
    padding-left: 0;
    padding-top: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: -5px;

    &::after {
      height: 1px;
      width: 100%;
      bottom: -15px;
      left: 0;
    }

    .footer__title {
      margin-bottom: 24px;
    }
  }

  .footer__corporate {
    padding-top: 27px;

    .footer__title {
      margin-bottom: 5px;
    }
  }
}
